<div class="container main">
	<a class="btn btn-primary" href="<?=PRE?>" role="button">Go back</a>
	<p><h3>Add new task</h3></p>
	<form method="post" id="new-task-form" class="add needs-validation" novalidate>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="name" id="name" name="name" value="<?php echo isset($_POST['name']) ?? $_POST['name'];?>" class="form-control" required>
			<div class="invalid-feedback">
				Please provide a valid name.
			</div>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" id="email" name="email" value="<?php if(isset($_POST['email'])) echo $_POST['email'];?>" class="form-control" required>
			<div class="invalid-feedback">
				Please provide a valid email.
			</div>
		</div>
		<div class="form-group">
			<label for="text">Description</label>
			<input id="text" name="text" value="<?php if(isset($_POST['text'])) echo $_POST['text'];?>" class="form-control" required>
			<div class="invalid-feedback">
				Please provide a valid task description.
			</div>
		</div>
		<input type="submit" class="btn btn-success" value="Save">
	</form>
</div>

<script src="<?=PRE?>/js/formSubmit.js"></script>