<div class="cover">
    <div class="inner-cover">
        <form method="post" action="" class="auth-form needs-validation" novalidate>
            <h5 class="text-uppercase bold text-center"> Authorization </h5>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" value="<?php if(isset($_POST['email'])) echo $_POST['email']; ?>" required>
                <div class="invalid-feedback">
                    Please provide a valid email.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter a password.
                </div>
            </div>
            <input type="submit" class="btn btn-success btn-lg w-100" value="Sign in" required>
        </form>
    </div>
</div>
