<div class="container main">
	<div class="row">
		<div class="col-6">
			<a class="btn btn-primary" href="create" role="button">Add new task</a>
		</div>
		<div class="col-6 text-right">
			<form action="<?=PRE?>" method="get" id="order-form">
				<select name="order" id="order">
					<option value="user_name-asc">Name A-Z</option>
					<option value="user_name-desc">Name Z-A</option>
					<option value="email-asc">Email A-Z</option>
					<option value="email-desc">Email Z-A</option>
					<option value="status-asc">Status A-Z</option>
					<option value="status-desc">Status Z-A</option>				
				</select> 
			</form>
		</div>
	</div>

	<p><h3>List of tasks</h3></p>
	
	<table class="table table-striped">
	<?php foreach($data as $key=>$task) { ?>		
		<tr>
			<td>
				<input type="checkbox" name="status[]" value="<?=$task->id;?>" 
				<?php if($task->status == 1) { echo 'checked'; } ?> >
			</td>
			<td><?=$task->user_name;?></td>
			<td><?=$task->email;?></td>
			<form action="" class="edit-form needs-validation" novalidate>
				<td>
					<input type="hidden" name="id" value="<?=$task->id;?>">
					<textarea name="text"><?=$task->text;?></textarea>
					<div class="invalid-feedback">
						Please provide a valid text.
					</div>
				</td>
				<td>
					<button type="submit" class="btn btn-success">Save</button>
				</td>
			</form>
			<td> 
				<?php if($task->status == 1) { ?>
					<div class="alert alert-success" role="alert">
						Done
					</div>
				<?php } ?>
				<?php if($task->edited == 1) { ?>
					<div class="alert alert-warning" role="alert">
						Edit by admin
					</div>
				<?php } ?>
			</td>
		</tr>
	<?php } ?>
	</table>

	<?=$pagination?>
</div>

<script src="<?=PRE?>/js/editFormSubmit.js"></script>
<script src="<?=PRE?>/js/statusChange.js"></script>
<script src="<?=PRE?>/js/selectFormSubmit.js"></script>