<nav aria-label="...">
    <?php if($pagesTotal > 1) { ?>
        <ul class="pagination">
            <?php for($i=1; $i<= $pagesTotal; $i++) { ?>
                <li class="page-item <?php if($i == $activePage) { echo 'active';} ?>">
                    <a class="page-link" href="?page=<?=$i?>&order=<?=$order?>"><?=$i?></a>
                </li>
            <?php } ?>
        </ul>
    <?php } ?>
</nav>